@model Racunala.Models.Racunalo

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji</h1>

<div>
    <h4>Racunalo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lokacija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lokacija)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumPustanjaUPromet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumPustanjaUPromet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aktivno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aktivno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DanasAktivno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DanasAktivno)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Uredi</a> |
    <a asp-action="Index">Natrag</a>
</div>
